{
    "parser": "babel-eslint",
    "extends": ["plugin:react/recommended"],
    "plugins": [
        "react",
        "prettier",
        "flowtype",
        "import"
    ],
    "settings": {
        "import/extensions": [".js", ".jsx"]
    },
    "env": {
        "browser": true,
        "es6": true,
        "jasmine": true,
        "jest": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "eqeqeq": ["error", "always"],
        "jsx-quotes": ["error", "prefer-double"],
        "max-len": ["error", 120, { "ignoreStrings": true }],
        "no-duplicate-imports": "error",
        "no-multi-spaces": ["error"],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "react/jsx-tag-spacing": "error",
        "semi": ["error", "always"],
        "space-in-parens": "warn",
        "curly": "warn",
        "no-shadow": ["error"],
        "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
        "prettier/prettier": [
            "error",
            {
                "printWidth": 120,
                "tabWidth": 4,
                "semi": true,
                "singleQuote": true,
                "trailingComma": "all",
                "jsxBracketSameLine": true
            }
        ]
    }
}